// Write your custom style. Feel free to split your code to several files
@mixin lhCrop($line-height) {
  &::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.navbar-stick-dark {
  background-color: #000000 !important;
}
.navbar-stick-light {
  background-color: #000000 !important;
}

$accent-color: rgb(72, 112, 255);
$accent-color-hover: rgb(51, 0, 255);

.btn-accent {
  color: #000000 !important;
  background: $accent-color;
  background: linear-gradient(
    45deg,
    rgba(72, 112, 255, 1) 0%,
    rgba(12, 152, 196, 1) 50%,
    rgba(51, 0, 255, 1) 100%
  );
  border-color: $accent-color;
  border-radius: 4px;
  font-weight: 700;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  &:hover {
    color: #ffffff;
    background: rgb(51, 0, 255);
    background: radial-gradient(
      circle,
      rgb(0, 60, 255) 0%,
      rgba(12, 152, 196, 1) 100%
    );
    border-color: #ffffff;
    box-shadow: 0 1px 10px rgba(80, 161, 255, 0.4);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  &:focus,
  &.focus {
    color: var(--bg-white);
    box-shadow: 0 0 0 0rem rgba(80, 161, 255, 0.5);
  }
}

.btn-outline-accent {
  border-color: $accent-color;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  span {
    // background: -webkit-linear-gradient(
    //   45deg,
    //   rgba(72, 112, 255, 1) 0%,
    //   rgba(12, 152, 196, 1) 50%,
    //   rgba(51, 0, 255, 1) 100%
    // );
    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  border-color: $accent-color;
  &:focus,
  &.focus {
    color: $accent-color !important;
    box-shadow: 0 0 0 0rem rgba(80, 161, 255, 0.5);
  }
  &:hover {
    span {
      background: #000000;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    background: rgb(51, 0, 255);
    background: radial-gradient(
      circle,
      rgb(0, 60, 255) 0%,
      rgba(12, 152, 196, 1) 100%
    );
    border-color: #ffffff;
    box-shadow: 0 1px 10px rgba(80, 161, 255, 0.4);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1640px;
  }
  .landing-padfix {
    padding-top: 250px !important;
  }
  .test-mtfix {
    margin-top: 75px !important;
  }
  // $font-size-base:18px;
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-inline {
    display: inline !important;
  }
  .d-xxl-inline-block {
    display: inline-block !important;
  }
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-table {
    display: table !important;
  }
  .d-xxl-table-row {
    display: table-row !important;
  }
  .d-xxl-table-cell {
    display: table-cell !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-inline-flex {
    display: inline-flex !important;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 2800px) {
  .container {
    max-width: 2720px;
  }
}
@media (min-width: 3500px) {
  .container {
    max-width: 3400px;
  }
}

.header {
  padding: 0;
  background-color: #000000;
  .watermarkContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .watermark {
      font-size: 50rem;
      @include lhCrop(1);
      line-height: 1;
      background: -webkit-linear-gradient(45deg, #585858 0%, #000000 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 1500px) {
        font-size: 70rem;
      }
      opacity: 0.4;
    }
  }
}

.navbar-brand {
  width: 5rem;
  height: 5rem;
  img {
    width: 100% !important;
    max-height: 100% !important;
  }
}

.backdrop-navbar {
  background-color: #000000b6;
}

.navbar-mobile {
  @media (max-width: 992px) {
    background-color: #000000 !important;
    border-right: 1px solid #ffffff18;
    .nav-link {
      color: rgba(255, 255, 255, 0.65) !important;
    }
  }
}

.big-heading {
  font-size: 2.8125rem;
  font-weight: 600;
  line-height: 1.2;
  @media (min-width: 1500px) {
    font-size: 4.5rem;
  }
  @media (max-width: 768px) {
    line-height: 1.5;
  }
}

.endScroll {
  position: absolute;
  bottom: 1.5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.illustration-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourMission {
  font-weight: 600;
  background: -webkit-linear-gradient(45deg, #ff0606 0%, #ffdd00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.workCulture {
  font-weight: 600;
  background: -webkit-linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.teamHeading {
  font-weight: 600;
  background: -webkit-linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.ongoingProjects {
  font-weight: 600;
  background: -webkit-linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.completedProjects {
  font-weight: 600;
  background: -webkit-linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.contactUs {
  font-weight: 600;
  background: -webkit-linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.qoe {
  font-weight: 600;
  background: -webkit-linear-gradient(45deg, #ff0606 0%, #ffdd00 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-size: 2.5rem;
}

.okemos {
  font-weight: 600;
  background: -webkit-linear-gradient(315deg, #b8d3fe 0%, #aecad6 74%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.address {
  p {
    color: #ffffffad;
  }
}

.lead {
  color: rgba(255, 255, 255, 0.7);
}

.footer-dark {
  background: linear-gradient(180deg, #000000 0%, #010111 75%);
  color: #ffffff;
  border-top-color: rgba(241, 242, 243, 0.3);
}

.team-1 {
  h3 {
    color: white;
    small {
      background: -webkit-linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p {
    color: #ffffffbd;
  }
}

.venture-header {
  height: 70vh;
  background-image: url(../img/ventures.png);
  background-size: cover;
}

.connect-header {
  height: 70vh;
  background-image: url(../img/contact.png);
  background-size: cover;
}

.transparent-navbar {
  background-color: transparent !important;
  .navbar-mobile {
    background-color: transparent !important;
  }
}

[data-scrim-bottom] {
  &::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 600;
      font-size: 6rem;
      box-shadow: 0 0px 15px rgba($color: #000000, $alpha: 0.15);
      @media (max-width: 768px) {
        font-size: 3.5rem;
      }
      @media (min-width: 1500px) {
        font-size: 9rem;
      }
    }
  }
}

section {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-44 {
  padding-left: 4rem;
  padding-right: 4rem;
  .card {
    background-color: #121218 !important;
    border-radius: 4px;
    h4 {
      background: -webkit-linear-gradient(-135deg, #90d5ec 0%, #fc575e 74%);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
    p {
      color: rgba($color: #ffffff, $alpha: 0.5);
    }
  }
}

.card {
  background-color: #121218 !important;
  border-radius: 4px;
  h4 {
    background: -webkit-linear-gradient(-135deg, #90d5ec 0%, #fc575e 74%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
  p {
    color: rgba($color: #ffffff, $alpha: 0.5);
  }
}

.btn-linkedin {
  color: #fff;
  background-color: #2867b2;
  border-color: #2867b2;
}
.btn-linkedin:hover {
  color: #fff;
  background-color: #2167b2;
  border-color: #2167b2;
  box-shadow: 0 1px 10px #2167b269;
}
.btn-linkedin:focus,
.btn-linkedin.focus {
  color: #fff;
  box-shadow: 0 0 0 0rem #2167b280;
}
.btn-linkedin.disabled,
.btn-linkedin:disabled {
  background-color: #2867b2;
  border-color: #2867b2;
}
.btn-linkedin:not([disabled]):not(.disabled):active,
.btn-linkedin:not([disabled]):not(.disabled).active,
.show > .btn-linkedin.dropdown-toggle {
  color: #fff;
  background-color: #2167b2;
  border-color: #2167b2;
  box-shadow: 0 0 0 0rem #2167b280;
}

.form-group {
  label {
    color: #ffffff80;
  }
}

.form-control,
.input-group,
.input-group-text,
.input-group .btn {
  border-radius: 4px;
  border: 1px solid #ffffff80;
  background-color: transparent;
  color: #ffffffcc !important;
  &:focus,
  &:active {
    background-color: #02020e;
  }
}

.form-control {
  padding-left: 1rem;
  padding-right: 1rem;
}

textarea {
  border-radius: 4px;
  color: #ffffffcc !important;
}

.input-group-text {
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 0.8;

  + .form-control {
    padding-left: 0;
  }
}

.form-control-lg,
.input-group-lg .form-control {
  padding-left: 1rem;
  padding-right: 1rem;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .social-button {
    margin: 1.5rem !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 7rem;
    height: 7rem;
    @media (max-width: 768px) {
      width: 5rem;
      height: 5rem;
      font-size: 0.7rem;
    }
  }
}
