// Write your custom style. Feel free to split your code to several files
@mixin lhCrop($line-height) {
  &::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-black);
}

.navbar-stick-dark {
  background-color: var(--bg-black) !important;
}
.navbar-stick-light {
  background-color: var(--bg-black) !important;
}

$accent-color: rgb(72, 112, 255);
$accent-color-hover: rgb(51, 0, 255);

.btn-accent {
  color: var(--bg-black) !important;
  background: $accent-color;
  background: linear-gradient(
    45deg,
    var(--bg-accent-1) 0%,
    var(--bg-accent-2) 50%,
    var(--bg-accent-3) 100%
  );
  border-color: $accent-color;
  border-radius: 4px;
  font-weight: 700;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  &:hover {
    color: #ffffff;
    background: rgb(51, 0, 255);
    background: radial-gradient(
      circle,
      var(--bg-accent-hover-1) 0%,
      var(--bg-accent-hover-2) 100%
    );
    border-color: var(--bg-white);
    box-shadow: 0 1px 10px rgba(80, 161, 255, 0.4);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  &.focus,
  &:focus {
    color: var(--bg-white);
    box-shadow: 0 0 0 0 rgba(80, 161, 255, 0.5);
  }
}

.btn-outline-accent {
  border-color: $accent-color;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  span {
    // background: -webkit-linear-gradient(
    //   45deg,
    //   rgba(72, 112, 255, 1) 0%,
    //   rgba(12, 152, 196, 1) 50%,
    //   rgba(51, 0, 255, 1) 100%
    // );
    background: var(--bg-white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  border-color: $accent-color;
  &.focus,
  &:focus {
    color: $accent-color !important;
    box-shadow: 0 0 0 0 rgba(80, 161, 255, 0.5);
  }
  &:hover {
    span {
      background: var(--bg-black);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    background: rgb(51, 0, 255);
    background: radial-gradient(
      circle,
      var(--bg-accent-hover-1) 0%,
      var(--bg-accent-hover-2) 100%
    );
    border-color: var(--bg-white);
    box-shadow: 0 1px 10px rgba(80, 161, 255, 0.4);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1640px;
  }
  .landing-padfix {
    padding-top: 250px !important;
  }
  .test-mtfix {
    margin-top: 75px !important;
  }
  // $font-size-base:18px;
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-inline {
    display: inline !important;
  }
  .d-xxl-inline-block {
    display: inline-block !important;
  }
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-table {
    display: table !important;
  }
  .d-xxl-table-row {
    display: table-row !important;
  }
  .d-xxl-table-cell {
    display: table-cell !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-inline-flex {
    display: inline-flex !important;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 2800px) {
  .container {
    max-width: 2720px;
  }
}
@media (min-width: 3500px) {
  .container {
    max-width: 3400px;
  }
}

.header {
  padding: 0;
  background-color: var(--bg-black);
  .watermarkContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .watermark {
      font-size: 50rem;
      @include lhCrop(1);
      line-height: 1;
      background: -webkit-linear-gradient(
        45deg,
        var(--bg-watermark-gradient-light) 0%,
        var(--bg-watermark-gradient-dark) 95%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 1500px) {
        font-size: 70rem;
      }
      opacity: 0.4;
    }
  }
}

.navbar-brand {
  width: 5rem;
  height: 5rem;
  img {
    width: 100% !important;
    max-height: 100% !important;
  }
}

.backdrop-navbar {
  background-color: #000000b6;
}

.navbar-mobile {
  @media (max-width: 992px) {
    background-color: var(--bg-black) !important;
    border-right: 1px solid #ffffff18;
    .nav-link {
      color: var(--bg-nav-link) !important;
    }
  }
}

.nav-link,
.navbar-toggler {
  color: var(--bg-nav-link) !important;
}

.big-heading {
  font-size: 2.8125rem;
  font-weight: 600;
  line-height: 1.2;
  @media (min-width: 1500px) {
    font-size: 4.5rem;
  }
  @media (max-width: 768px) {
    line-height: 1.5;
  }
  color: var(--bg-white) !important;
}

.endScroll {
  position: absolute;
  bottom: 1.5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.illustration-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourMission {
  font-weight: 600;
  background: -webkit-linear-gradient(
    45deg,
    var(--bg-ourmission-1) 0%,
    var(--bg-ourmission-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.workCulture {
  font-weight: 600;
  background: -webkit-linear-gradient(
    315deg,
    var(--bg-workculture-1) 0%,
    var(--bg-workculture-2) 74%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.teamHeading {
  font-weight: 600;
  background: -webkit-linear-gradient(
    315deg,
    var(--bg-teamheading-1) 0%,
    var(--bg-teamheading-2) 74%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.ongoingProjects {
  font-weight: 600;
  background: -webkit-linear-gradient(
    315deg,
    var(--bg-ongoingprojects-1) 0%,
    var(--bg-ongoingprojects-2) 74%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.completedProjects {
  font-weight: 600;
  background: -webkit-linear-gradient(
    315deg,
    var(--bg-completedprojects-1) 0%,
    var(--bg-completedprojects-2) 74%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.contactUs {
  font-weight: 600;
  background: -webkit-linear-gradient(
    315deg,
    var(--bg-workculture-1) 0%,
    var(--bg-workculture-2) 74%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.qoe {
  font-weight: 600;
  background: -webkit-linear-gradient(
    45deg,
    var(--bg-ourmission-1) 0%,
    var(--bg-ourmission-2) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-size: 2.5rem;
}

.okemos {
  font-weight: 600;
  background: -webkit-linear-gradient(
    315deg,
    var(--bg-okemos-1) 0%,
    var(--bg-okemos-2) 74%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.address {
  p {
    color: var(--bg-address);
  }
}

.lead {
  color: var(--bg-lead);
  font-weight: 400;
}

.footer-dark {
  background: linear-gradient(
    180deg,
    var(--bg-black) 0%,
    var(--bg-footer-blue) 75%
  );
  color: var(--bg-white);
  border-top-color: rgba(241, 242, 243, 0.3);
}

.team-1 {
  h3 {
    color: var(--bg-white);
    small {
      background: -webkit-linear-gradient(
        315deg,
        var(--bg-small-1) 0%,
        var(--bg-small-2) 74%
      );

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p {
    color: var(--bg-team-details);
  }
}

.venture-header {
  height: 70vh;
  background-image: url("../img/ventures.png");
  background-size: cover;
}

.connect-header {
  height: 70vh;
  background-image: url("../img/contact.png");
  background-size: cover;
}

.transparent-navbar {
  background-color: transparent !important;
  box-shadow: none !important;
  .navbar-mobile {
    background-color: transparent !important;
  }
}

[data-scrim-bottom] {
  &::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 600;
      font-size: 6rem;
      box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.15);
      @media (max-width: 768px) {
        font-size: 3.5rem;
      }
      @media (min-width: 1500px) {
        font-size: 9rem;
      }
    }
  }
}

section {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-44 {
  padding-left: 4rem;
  padding-right: 4rem;
  .card {
    background-color: var(--bg-card) !important;
    border-radius: 4px;
    h4 {
      background: -webkit-linear-gradient(
        -135deg,
        var(--bg-card-title-1) 0%,
        var(--bg-card-title-2) 74%
      );

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
    p {
      color: rgba($color: var(--bg-white), $alpha: 0.5);
    }
  }
}

.card {
  background-color: var(--bg-card) !important;
  border-radius: 4px;
  h4 {
    background: -webkit-linear-gradient(
      -135deg,
      var(--bg-card-title-1) 0%,
      var(--bg-card-title-2) 74%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
  p {
    color: rgba($color: var(--bg-white), $alpha: 0.5);
  }
}

.btn-linkedin {
  color: #fff;
  background-color: #2867b2;
  border-color: #2867b2;
}
.btn-linkedin:hover {
  color: #fff;
  background-color: #2167b2;
  border-color: #2167b2;
  box-shadow: 0 1px 10px #2167b269;
}
.btn-linkedin.focus,
.btn-linkedin:focus {
  color: #fff;
  box-shadow: 0 0 0 0 #2167b280;
}
.btn-linkedin.disabled,
.btn-linkedin:disabled {
  background-color: #2867b2;
  border-color: #2867b2;
}
.btn-linkedin:not([disabled]):not(.disabled).active,
.btn-linkedin:not([disabled]):not(.disabled):active,
.show > .btn-linkedin.dropdown-toggle {
  color: #fff;
  background-color: #2167b2;
  border-color: #2167b2;
  box-shadow: 0 0 0 0 #2167b280;
}

.form-group {
  label {
    color: var(--bg-form-label);
  }
}

.form-control,
.input-group,
.input-group .btn,
.input-group-text {
  border-radius: 4px;
  border: 1px solid var(--bg-form-label);
  background-color: transparent;
  color: var(--bg-form-color) !important;
  &:active,
  &:focus {
    background-color: var(--bg-form-focus);
    border: 1px solid var(--bg-form-label);
  }
}

.form-control {
  padding-left: 1rem;
  padding-right: 1rem;
}

textarea {
  border-radius: 4px;
  color: var(--bg-form-color) !important;
}

.input-group-text {
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 0.8;

  + .form-control {
    padding-left: 0;
  }
}

.form-control-lg,
.input-group-lg .form-control {
  padding-left: 1rem;
  padding-right: 1rem;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .social-button {
    margin: 1.5rem !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 7rem;
    height: 7rem;
    @media (max-width: 768px) {
      width: 5rem;
      height: 5rem;
      font-size: 0.7rem;
    }
  }
}

.hr {
  background-color: var(--bg-form-label);
  // background-color: var(--bg-white);
}

body.light {
  --bg-black: #f8f8f8;
  --bg-white: #121212;
  --bg-watermark-gradient-light: #7a94a8;
  --bg-watermark-gradient-dark: #f8f8f8;
  --bg-nav-link: rgba(117, 117, 117, 0.8);
  --bg-lead: rgba(0, 0, 0, 0.7);
  --bg-footer-blue: #d9e7ff;
  --bg-footer-border: rgba(15, 14, 13, 0.3);
  --bg-team-details: #000000f3;
  --bg-card: #e8edff;
  --bg-card-title-1: #09c6f9;
  --bg-card-title-2: #045de9;
  --bg-form-label: #00000080;
  --bg-form-color: #000000cc;
  --bg-form-focus: #fdfdf1;
  --bg-address: #000000ad;
  --bg-accent-1: rgba(72, 112, 255, 1);
  --bg-accent-2: #50a1ff;
  --bg-accent-3: rgb(91, 50, 255);
  --bg-accent-hover-1: rgb(55, 101, 255);
  --bg-accent-hover-2: #50a1ff;
  --bg-ourmission-1: #ff0606;
  --bg-ourmission-2: #ffdd00;
  --bg-workculture-1: #6e72fc;
  --bg-workculture-2: #ad1deb;
  --bg-teamheading-1: #b621fe;
  --bg-teamheading-2: #1fd1f9;
  --bg-small-1: #f2a65a;
  --bg-small-2: #772f1a;
  --bg-ongoingprojects-1: #5aff15;
  --bg-ongoingprojects-2: #00b712;
  --bg-completedprojects-1: #28313b;
  --bg-completedprojects-2: #485461;
  --bg-okemos-1: #009ffd;
  --bg-okemos-2: #2a2a72;
}
body.dark {
  --bg-black: #000000;
  --bg-white: #ffffff;
  --bg-watermark-gradient-light: #585858;
  --bg-watermark-gradient-dark: #000000;
  --bg-nav-link: rgba(255, 255, 255, 0.65);
  --bg-lead: rgba(255, 255, 255, 0.7);
  --bg-footer-blue: #010111;
  --bg-footer-border: rgba(241, 242, 243, 0.3);
  --bg-team-details: #ffffffbd;
  --bg-card: #121218;
  --bg-card-title-1: #efe9f4;
  --bg-card-title-2: #5078f2;
  --bg-form-label: #ffffff80;
  --bg-form-color: #ffffffcc;
  --bg-form-focus: #02020e;
  --bg-address: #ffffffad;
  --bg-accent-1: rgba(72, 112, 255, 1);
  --bg-accent-2: rgba(12, 152, 196, 1);
  --bg-accent-3: rgba(51, 0, 255, 1);
  --bg-accent-hover-1: rgb(0, 60, 255);
  --bg-accent-hover-2: rgba(12, 152, 196, 1);
  --bg-ourmission-1: #ff0606;
  --bg-ourmission-2: #ffdd00;
  --bg-workculture-1: #6e72fc;
  --bg-workculture-2: #ad1deb;
  --bg-teamheading-1: #fefefe;
  --bg-teamheading-2: #00a4e4;
  --bg-small-1: #f9d29d;
  --bg-small-2: #ffd8cb;
  --bg-ongoingprojects-1: #7ee8fa;
  --bg-ongoingprojects-2: #80ff72;
  --bg-completedprojects-1: #d9e4f5;
  --bg-completedprojects-2: #f5e3e6;
  --bg-okemos-1: #83eaf1;
  --bg-okemos-2: #63a4ff;
}
